.rightSide
{
	float: right;
}

.leftSide
{
	float: left;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

body{
    background-color: #7c7c7c;
}

.conteudo
{
	background-image:url(imgs/background.jpg); 
	background-size: cover;
}

.abas {
	list-style-type: none;
	}
	
.stats {
  text-align: center;*/
  position: absolute;
  left: 160px;
  top: 440px;
  width: 430px;
  height: 150px;
}

.image
{
	width: 52px;
	height: 56px;
	line-height: 50px;
	text-align:center;
	background-image:url(imgs/contorno.png);
	background-size:100% auto;
}

.portrait
{
	background-color: #2D2D2D;
}

.jorge
{
	background-image:url(imgs/asd.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.monsterContour
{
	min-height: 50%;
	background-size: 510px 339px;
	background-repeat: no-repeat;
	background-position: center;
	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input
{
	background: #2D2D2D;
	color: #FFFFFF;
	border:0px;
	outline:0px;
}
select {
    border:0px;
    outline:0px;
    background: #2D2D2D;
    -webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	color: #FFFFFF;
	}
select option {
    background: #2D2D2D;
    color: #fff;
}
.button {
  border: none;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #0D0D0D ;
  border-radius: 12px;
}


#c

#id_divRight_img {
	 position: static;
	 top: 20px;
  	 right: 300px;
	 height: 208px;
  	 width: 265px;
	 border: 3px solid black;
}
